*.aux
*.fls
*.fdb_latexmk
*.log
*.synctex.gz
*.xdv
*.out
*/student/.env
*/student/runs
*__pycache__
assignment2/a2/saved_*
__MACOSX
.env/
.DS_Store
*/__MACOSX
.ipynb_checkpoints/
*/.DS_Store
assignment3/student/results/
assignment4/student/outputs/
assignment5/vanilla.model.params
nlp.code-workspace
